body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 8px;
   width: 443px;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#Shape11
{
   border-width: 0;
   vertical-align: top;
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#Shape13
{
   border-width: 0;
   vertical-align: top;
}
#Shape14
{
   border-width: 0;
   vertical-align: top;
}
#Shape15
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line2
{
   font-size: 0;
}
#Line2
{
   border-width: 0;
   height: 147px;
   width: 199px;
}
#Shape16
{
   border-width: 0;
   vertical-align: top;
}
#Shape17
{
   border-width: 0;
   vertical-align: top;
}
#Shape18
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line3
{
   font-size: 0;
}
#Line3
{
   border-width: 0;
   height: 156px;
   width: 207px;
}
#wb_Line5
{
   font-size: 0;
}
#Line5
{
   border-width: 0;
   height: 8px;
   width: 347px;
}
#wb_Line6
{
   font-size: 0;
}
#Line6
{
   border-width: 0;
   height: 530px;
   width: 8px;
}
#wb_Line7
{
   font-size: 0;
}
#Line7
{
   border-width: 0;
   height: 44px;
   width: 8px;
}
#wb_Line8
{
   font-size: 0;
}
#Line8
{
   border-width: 0;
   height: 8px;
   width: 51px;
}
#wb_Line9
{
   font-size: 0;
}
#Line9
{
   border-width: 0;
   height: 8px;
   width: 51px;
}
#wb_Line10
{
   font-size: 0;
}
#Line10
{
   border-width: 0;
   height: 8px;
   width: 51px;
}
#Shape19
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Shape20
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line11
{
   font-size: 0;
}
#Line11
{
   border-width: 0;
   height: 8px;
   width: 332px;
}
#Shape21
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Shape22
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Shape24
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line13
{
   font-size: 0;
}
#Line13
{
   border-width: 0;
   height: 8px;
   width: 46px;
}
#Shape26
{
   border-width: 0;
   vertical-align: top;
}
#Shape27
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line14
{
   font-size: 0;
}
#Line14
{
   border-width: 0;
   height: 44px;
   width: 8px;
}
#Shape28
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Line4
{
   font-size: 0;
}
#Line4
{
   border-width: 0;
   height: 8px;
   width: 51px;
}
#wb_Line12
{
   font-size: 0;
}
#Line12
{
   border-width: 0;
   height: 8px;
   width: 51px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
